body {
  margin: 0;
  font-family:'poppins',sans-serif;
  min-height: 100vh;
  background-color: #2e0d46;
  background-image:
    url(/pictures/download.jpg),
    url(/pictures/download.jpg);
  background-size:
    768px 640px,
    768px 640px;
  background-position:
    left top,
    right top;
  background-repeat:
    repeat-y,
    repeat-y;

}

h1{
  margin: 5%;
     color: rgb(243, 228, 255);
     text-align: center;
     
}
#registrationsTable{
  margin-top: 40px;
      margin-left:50px ;
     color: azure;
     background-color: #2e0d46;
     border: 3px solid rgb(176, 102, 237);
}
#registrationsTable th,td{
  padding: 15px;
}

.delete-btn{
  background-color: #ff0e0e;
  color: aliceblue;
}